In [12]:
import duckdb
import pandas as pd 
print ("packages imported")

packages imported

In [10]:
#creating an  empty duckdb database 

sql_query = ''' 
select * from my_first_dbt_model
'''

with duckdb.connect('data/my_duckdb.db') as con:
    display(con.sql(sql_query).df())

    id
0  1.0
1  1.0
2  NaN

In [14]:
def run_query(sql_query):
    with duckdb.connect('data/my_duckdb.db') as con:
        display(con.sql(sql_query).df())

In [15]:
run_query(  """ select * from "my_duckdb"."main_dbt_test__audit"."generic_count_check_my_first_dbt_model_id"  """)

   id  cnt
0   1    2

In [16]:
run_query("""  select * from "my_duckdb"."main_dbt_test__audit"."unique_my_first_dbt_model_id" """)

   unique_field  n_records
0             1          2