In [20]:

import pandas as pd 
import duckdb

 
print ("Import packages")

db='data/my_duckdb.db'

Import packages

In [37]:
#creating an empty duckdb database

sql_query=''' 
show tables
'''

with duckdb.connect(db) as con:
    display(con.sql(sql_query).df())

             name
0  netflix_titles

In [38]:
duckdb.sql(" select * from 'data/netflix_titles.csv' ")

┌─────────┬─────────┬──────────────────────┬───┬───────────┬──────────────────────┬──────────────────────┐
│ show_id │  type   │        title         │ … │ duration  │      listed_in       │     description      │
│ varchar │ varchar │       varchar        │   │  varchar  │       varchar        │       varchar        │
├─────────┼─────────┼──────────────────────┼───┼───────────┼──────────────────────┼──────────────────────┤
│ s1      │ Movie   │ Dick Johnson Is Dead │ … │ 90 min    │ Documentaries        │ As her father near…  │
│ s2      │ TV Show │ Blood & Water        │ … │ 2 Seasons │ International TV S…  │ After crossing pat…  │
│ s3      │ TV Show │ Ganglands            │ … │ 1 Season  │ Crime TV Shows, In…  │ To protect his fam…  │
│ s4      │ TV Show │ Jailbirds New Orle…  │ … │ 1 Season  │ Docuseries, Realit…  │ Feuds, flirtations…  │
│ s5      │ TV Show │ Kota Factory         │ … │ 2 Seasons │ International TV S…  │ In a city of coach…  │
│ s6      │ TV Show │ Midnight Mass        │ … │ 1 Season  │ TV Dramas, TV Horr…  │ The arrival of a c…  │
│ s7      │ Movie   │ My Little Pony: A …  │ … │ 91 min    │ Children & Family …  │ Equestria's divide…  │
│ s8      │ Movie   │ Sankofa              │ … │ 125 min   │ Dramas, Independen…  │ On a photo shoot i…  │
│ s9      │ TV Show │ The Great British …  │ … │ 9 Seasons │ British TV Shows, …  │ A talented batch o…  │
│ s10     │ Movie   │ The Starling         │ … │ 104 min   │ Comedies, Dramas     │ A woman adjusting …  │
│  ·      │   ·     │     ·                │ · │    ·      │    ·                 │          ·           │
│  ·      │   ·     │     ·                │ · │    ·      │    ·                 │          ·           │
│  ·      │   ·     │     ·                │ · │    ·      │    ·                 │          ·           │
│ s8798   │ TV Show │ Zak Storm            │ … │ 3 Seasons │ Kids' TV             │ Teen surfer Zak St…  │
│ s8799   │ Movie   │ Zed Plus             │ … │ 131 min   │ Comedies, Dramas, …  │ A philandering sma…  │
│ s8800   │ Movie   │ Zenda                │ … │ 120 min   │ Dramas, Internatio…  │ A change in the le…  │
│ s8801   │ TV Show │ Zindagi Gulzar Hai   │ … │ 1 Season  │ International TV S…  │ Strong-willed, mid…  │
│ s8802   │ Movie   │ Zinzana              │ … │ 96 min    │ Dramas, Internatio…  │ Recovering alcohol…  │
│ s8803   │ Movie   │ Zodiac               │ … │ 158 min   │ Cult Movies, Drama…  │ A political cartoo…  │
│ s8804   │ TV Show │ Zombie Dumb          │ … │ 2 Seasons │ Kids' TV, Korean T…  │ While living alone…  │
│ s8805   │ Movie   │ Zombieland           │ … │ 88 min    │ Comedies, Horror M…  │ Looking to survive…  │
│ s8806   │ Movie   │ Zoom                 │ … │ 88 min    │ Children & Family …  │ Dragged from civil…  │
│ s8807   │ Movie   │ Zubaan               │ … │ 111 min   │ Dramas, Internatio…  │ A scrappy but poor…  │
├─────────┴─────────┴──────────────────────┴───┴───────────┴──────────────────────┴──────────────────────┤
│ 8807 rows (20 shown)                                                              12 columns (6 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [49]:
#add data to duckdb database from csv files

#duckdb.read_csv('data/netflix_titles.csv')



sql_query_import_netflix_data = ''' 

CREATE OR REPLACE TABLE netflix_titles as 

select * 
from read_csv_auto(
'data/netflix_titles.csv' ,
normalize_names = True
)

'''
with duckdb.connect(db) as con:
  con.sql(sql_query_import_netflix_data)

In [50]:
sql_query= '''
select * from netflix_titles
'''

with duckdb.connect(db) as con:
    con.sql(sql_query)